# Environment Configuration
NODE_ENV="" # Options: 'development', 'production'
PORT=""     # The port your server will listen on
HOST=""     # Hostname for the server

# CORS Settings
CORS_ORIGIN="" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS=""  # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="" # Max number of requests per window per IP

# Database Configuration
DATABASE_URL="" # PostgreSQL connection string

# Raja Ongkir
RAJAONGKIR_SHIPPING_COST_API_KEY="" # API key for Raja Ongkir shipping cost service
RAJAONGKIR_BASE_URL=""